.table_wrapper{
    display: flex;
    justify-content: space-between;
}
.table_head{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}
.table_head h1{
    font-size: 64px;
}
.table_head i{
    font-size: 48px;
    cursor: pointer;
}

/* #table{
    background-color: azure;
    margin: 100px 0;
}
.title{
    padding: 50px 0;
    font-size: 36px;
    font-weight: 600;
    color: #262626;
}
.table_heading{
    display: flex;
    justify-content: space-between;
}
.table_title{
    width: 188px;
}
.table_body{
    display: flex;
    justify-content: space-between;
}
.table_content{
    width: 188px;
}
.table_content a{
    font-size: 20px;
    text-transform: uppercase;
}
.table_content i{
    font-size: 14px;
}
.table_content p{
    font-size: 16px;
    line-height: 24px;
}
.table_content span{
    font-size: 18px;
    font-weight: 500;
}
.table_content select{
    padding: 8px 25px 8px 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border-radius: 5px;
}
.table_content button{
    padding: 8px 15px 8px 30px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blueviolet;
} */